body {
    padding: 100px;
}
.form-control {
    margin: 18px 0px;
}
.submit-area {
    margin-top: 50px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 5px 5px 12px gray;
}
#transaction-area {
    display: none;
}
.status {
    margin: 0 20px;
    color: white;
    padding: 30px;
    border-radius: 10px;
}
.status h2 {
    font-size: 40px;
}
.deposit {
    background-color: slateblue;
}
.withdraw {
    background-color: lightsalmon;
}
.balance {
    background-color: orange;
}
